<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jq.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>