body {
    padding: 0;
    margin: 0;
}

#main {
    background-color: black;
    height: 65vh;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 5px solid gray;
    color: white;
    padding: 15px;
    font-size: 1.2em;
    overflow-y: scroll;
}

#console {
    font-family: Consolas, 'Courier New', monospace;
    background-color: rgb(50, 50, 50);
    color: aliceblue;
    float: left;
    overflow-y: scroll;
    height: 35vh;
    width: 100%;
}

#console::-webkit-scrollbar {
    display: none;
}

#messages {
    font-size: 1.1em;
    list-style: none;
}

#messages li::before {
    content: "bot> ";
    color: red;
}